<!DOCTYPE html>
<html>
  <head>

    <title>IdeaBreed</title>
    <link rel = "icon" href = 
    "https://img.apksum.com/5a/ideabreed.com.tvstick/1.1.3/icon.png" height="100px" width="100px"  
        type = "image/x-icon">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css" integrity="sha512-P5MgMn1jBN01asBgU0z60Qk4QxiXo86+wlFahKrsQf37c9cro517WzVSPPV1tDKzhku2iJ2FVgL67wG03SGnNA==" crossorigin="anonymous" />
    
    
    

    <script src="https://kit.fontawesome.com/c273cf22a9.js" crossorigin="anonymous"></script>
   
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
   </head>

  <body>
    <%= yield %>
    
  
  </body>
</html>
